[submodule "libs/libanvil"]
	path = libs/libanvil
	url = https://github.com/InsideBSITheSecond/libanvil.git
[submodule "libs/indicators"]
	path = libs/indicators
	url = https://github.com/p-ranav/indicators.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
